@charset "UTF-8";

:root {
    --font_family: Arial, SansSerif, serif;
    --font_size: 13px;
    --standard_font: Arial;
    --pic_width: 150px;
    --font_height: 23px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container {
    width: 100%;
    background: linear-gradient(to right, rgb(52, 80, 109), #092638 7.14%);
    display: grid;
    grid-template-columns: minmax(100px, auto) minmax(100px, auto) 1fr;
    align-items: start;
    justify-content: start;
    overflow: hidden;
}

.menu {
    height: 100%;
    transition: .2s;
    background: #ffffff12;
    padding: 20px 20px 20px 0;
    width: 100px;
    box-shadow: 8px 0 9px 0 #00000085;
    backdrop-filter: blur(10px);
    min-height: 100vh;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    z-index: 1000;
}

.menu:hover {
    width: 260px;
}

.menu:hover li span:nth-child(2) {
    display: block;
}

.menu-content li {
    list-style: none;
    border-radius: 0 50px 50px 0;
    transition: .3s;
    margin-bottom: 20px;
    padding-left: 20px;
}

.menu-content li:hover {
    background: #0c0c0c;
}

.menu-content li span:nth-child(2) {
    display: none;
}

a {
    text-decoration: none;
    color: rgb(213, 213, 213);
    display: flex;
    align-items: center;
    font-family: var(--font_family);
}

.material-symbols-outlined {
    font-size: 35px;
    margin-right: 10px;
    background: #0c0c0c;
    border-radius: 50%;
    padding: 12px;
}

.HeaderImage {
    width: 150px;
    float: left;
}

.Headerh1 {
    color: black;
    font-family: var(--font_family);
    font-size: calc(var(--font_height) * 2);
    margin-top: calc((var(--pic_width) - (var(--font_height) * 2)) / 2);
}

.BoxHeader {
    background-color: lightslategrey;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 30;
    width: 100%;
    height: var(--pic_width);
}

@media screen and (max-width: 768px) {
    .HeaderImage {
    width: 50px;
    float: left;
    }
    .Headerh1 {
        color: black;
        font-family: var(--font_family);
        font-size: calc(var(--font_height));
        margin-top: calc(var(--font_height) / 1.5);
    }
    .BoxHeader {
        background-color: lightslategrey;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 2;
        width: 100%;
        height: calc(var(--pic_width) / 3);
    }
    .material-symbols-outlined {
        font-size: 20px;
        margin-right: 10px;
        background: #0c0c0c;
        border-radius: 50%;
        padding: 12px;
    }
    .menu {
        height: 100%;
        transition: .3s;
        background: #ffffff12;
        padding: 20px 20px 20px 0;
        width: 80px;
        box-shadow: 8px 0 9px 0 #00000014;
        backdrop-filter: blur(5px);
        min-height: 100vh;
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .menu:hover {
        width: 80px;
    }
    .menu:hover li span:nth-child(2) {
        display: none;
    }
    #main-container {
        width: 100%;
        background: linear-gradient(#051f30, #000000);
        display: grid;
        grid-template-columns: minmax(80px, auto) 1fr;

        align-items: start;
        justify-content: start;
        overflow: hidden;
    }
}