@charset "UTF-8";

:root {
    --font_family: Arial, SansSerif, serif;
    --font_size: 18px;
    --standard_font: Arial;
}

button {
    margin-top: 10px;
    font-size: var(--font_size);
    font-family: var(--standard_font);
}

h1 {
    font-size: calc(var(--font_size) + 18px);
    font-family: var(--standard_font);
    margin-bottom: 30px;
}

.BoxContent {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    width: 100%;
}

.Box1 {
    background-color: darkcyan;
    height: calc(var(--font_height) + 5px);
    margin-top: 5px;
    padding-left: 20px;
}

.Box1 b {
    font-family: var(--font_family);
    font-size: var(--font_height);
    color: white;
}

.error_class {
    border-color: red;
    border-width: 3px;
}


.input-group {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding-left: 25px;
}

.input-group label {
    color: white;
    margin-right: 10px;
    font-size: calc(var(--font_height) - 3px);
    font-family: var(--font_family);
    width: 200px;
    padding-left: 5px;
}

.input-group select, .input-group input {
    font-family: var(--font_family);
    font-size: calc(var(--font_height) - 3px);
    width: 200px;
}


@media screen and (max-width: 768px) {
    .input-group {
        display: block;
        align-items: center;
        margin-top: 5px;
    }

    .input-group label {
        color: white;
        font-size: calc(var(--font_height) - 3px);
        font-family: var(--font_family);
        width: 100%;
        padding-left: 5px;
    }

    .input-group select, .input-group input {
        padding-left: 2px;
        font-family: var(--font_family);
        font-size: calc(var(--font_height) - 3px);
        width: calc(100vw - 80px);
    }
}