@charset "UTF-8";

:root {
    --font_family: Arial, SansSerif, serif;
    --font_size: 18px;
    --standard_font: Arial;
}


h1 {
    font-size: calc(var(--font_size) + 18px);
    font-family: var(--standard_font);
    margin-bottom: 30px;
}

.BoxContent {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    width: 100%;
}

.Box1 {
    background-color: darkcyan;
    height: calc(var(--font_height) + 5px);
    margin-top: 5px;
    padding-left: 20px;
}

.Box1 b {
    font-family: var(--font_family);
    font-size: var(--font_height);
    color: white;
}

