@charset "UTF-8";

:root {
    --font_family: Arial, SansSerif, serif;
    --font_height: 23px;
    --pic_width: 150px;
}


h1 {
    color: black;
    font-family: var(--font_family);
    font-size: calc(var(--font_height) * 2);
    margin-top: calc((var(--pic_width) - (var(--font_height) * 2)) / 2);
}

img {
    width: var(--pic_width);
    float: left;
}

input {
    font-family: var(--font_family);
    font-size: calc(var(--font_height) - 3px);
}

table {
    font-size: var(--font_height);
    font-family: var(--font_family);
    table-layout: fixed;
    width: 100%;

}

thead {
    background-color: lightslategrey;
}

.Box1 {
    background-color: darkcyan;
    height: calc(var(--font_height) + 5px);
    padding-left: 5px;

}

tr td:nth-child(1){
  width: 100px;
}