<!doctype html>
<html lang="de">
<meta charset="utf-8">

<head>
    <!--Title-->
    <title>Photovoltaik-Analyse</title>
    <!--Navigator-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          rel="stylesheet">
    <link href="../static/css/navigator.css" rel="stylesheet" type="text/css">
    <!--Favicon-->
    <meta content="#da532c" name="msapplication-TileColor">
    <meta content="#ffffff" name="theme-color">
    <link href="../static/favicon/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="../static/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="../static/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="../static/favicon/site.webmanifest" rel="manifest">
    <link color="#5bbad5" href="../static/favicon/safari-pinned-tab.svg" rel="mask-icon">
    <!--Stylesheet-->
    <link href="../static/css/style_analytics.css" rel="stylesheet" type="text/css">
    <!-- Chart-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="../static/javascript/chartdrawer.js"></script>


</head>
<body>
<div id="main-container">
    <div class="menu">
        <ul class="menu-content">
            <!-- https://fonts.google.com/icons -->
            <li><a href="/"><span class="material-symbols-outlined">home</span><span>Home</span></a></li>
            <li><a href="/dashboard"><span class="material-symbols-outlined">dashboard</span><span>DashBoard</span></a>
            </li>
            <li><a href="/analytics"><span class="material-symbols-outlined">analytics</span><span>Analytics</span></a>
            </li>
            <li><a href="/file_download"><span
                    class="material-symbols-outlined">file_download</span><span>File Download</span></a></li>
            <li><a href="/file_upload"><span
                    class="material-symbols-outlined">file_upload</span><span>File Upload</span></a></li>
            <li><a href="/settings"><span class="material-symbols-outlined">settings</span><span>Settings</span></a>
            </li>
        </ul>
    </div>

    <header class="BoxHeader">
        <img class="HeaderImage" src="../static/favicon/android-chrome-512x512.png" alt="">
        <h1 class="Headerh1">Analytics</h1>
    </header>
    <div class="BoxContent">
        <nav class="Box1">
            <b>Wetter Daten Heutige produzierte Energie: {{ energy_data }} Wh &#177; 10%</b>
        </nav>
        <section class="chart">
            <div class="input-group">
                <div id="chart_div1" class="chart-div"></div>
            </div>
        </section>
        <section class="input-group">
            <button onclick="removeDay1()" class="remove_button">Tag entfernen</button>
            <button onclick="addDay1()" class="add_button">Tag hinzufügen</button>
        </section>
        <nav class="Box1">
            <b>Strom Preis</b>
        </nav>
        <section class="chart">
            <div id="chart_div2" class="chart-div"></div>
        </section>
        <nav class="Box1">
            <b>Heizlast</b>
        </nav>
        <section class="chart">
            <div id="chart_div3" class="chart-div"></div>
        </section>
        <section class="input-group">
            <button onclick="removeDay3()" class="remove_button">Tag entfernen</button>
            <button onclick="addDay3()" class="add_button">Tag hinzufügen</button>
        </section>
        <nav class="Box1">
            <b>Differenz Heizlast &#8644; Strom</b>
        </nav>
        <section class="chart">
            <div id="chart_div4" class="chart-div"></div>
        </section>
        <section class="input-group">
            <button onclick="removeDay4()" class="remove_button">Tag entfernen</button>
            <button onclick="addDay4()" class="add_button">Tag hinzufügen</button>
        </section>
        <nav class="Box1">
            <b>Akkuladestand</b>
        </nav>
        <section class="chart">
            <div id="chart_div5" class="chart-div"></div>
        </section>
        <section class="input-group">
            <button onclick="removeDay5()" class="remove_button">Tag entfernen</button>
            <button onclick="addDay5()" class="add_button">Tag hinzufügen</button>
        </section>
    </div>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(function () {
            const chartData1 = {{ pv_power_data | tojson | safe }};
            drawChart1(chartData1);
        });
        google.charts.setOnLoadCallback(function () {
            const chartData2 = {{ market_data | tojson | safe }};
            drawChart2(chartData2);
        });
        google.charts.setOnLoadCallback(function () {
            const chartData3 = {{ heating_power_data | tojson | safe }};
            drawChart3(chartData3);
        });
        google.charts.setOnLoadCallback(function () {
            const chartData4 = {{ differnce_power | tojson | safe }};
            drawChart4(chartData4);
        });
        google.charts.setOnLoadCallback(function () {
            const chartData5 = {{ battery_power | tojson | safe }};
            drawChart5(chartData5);
        });
    </script>
</div>
</body>
</html>
