<!doctype html>
<html lang="de">
<meta charset="utf-8">

<head>
    <!--Title-->
    <title>Photovoltaik-Upload</title>
    <!--Navigator-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          rel="stylesheet">
    <link href="../static/css/navigator.css" rel="stylesheet" type="text/css">
    <!--Favicon-->
    <meta content="#da532c" name="msapplication-TileColor">
    <meta content="#ffffff" name="theme-color">
    <link href="../static/favicon/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="../static/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="../static/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="../static/favicon/site.webmanifest" rel="manifest">
    <link color="#5bbad5" href="../static/favicon/safari-pinned-tab.svg" rel="mask-icon">
    <!--Stylesheet-->
    <link href="../static/css/style_file_upload.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="main-container">
    <div class="menu">
        <ul class="menu-content">
            <!-- https://fonts.google.com/icons -->
            <li><a href="/"><span class="material-symbols-outlined">home</span><span>Home</span></a></li>
            <li><a href="/dashboard"><span class="material-symbols-outlined">dashboard</span><span>DashBoard</span></a>
            </li>
            <li><a href="/analytics"><span class="material-symbols-outlined">analytics</span><span>Analytics</span></a>
            </li>
            <li><a href="/file_download"><span
                    class="material-symbols-outlined">file_download</span><span>File Download</span></a></li>
            <li><a href="/file_upload"><span
                    class="material-symbols-outlined">file_upload</span><span>File Upload</span></a></li>
            <li><a href="/settings"><span class="material-symbols-outlined">settings</span><span>Settings</span></a>
            </li>
        </ul>
    </div>

    <table class="BoxHeader">
        <tr>
            <td>
                <img class="HeaderImage" src="{{ url_for('static', filename='favicon/android-chrome-512x512.png') }}">
                <h1 class="Headerh1">Datei Upload</h1>
            </td>
        </tr>
    </table>

    <form action="/upload_file" class="BoxContent" method="post" enctype=multipart/form-data>
        <!--Wetter Daten-->
        <table>
            {% if error_weather or error_market %}
            <p style="color: red;">{{ error_weather }}</p>
            <p style="color: red;">{{ error_market }}</p>
            {% endif %}
            <tr>
                <td class="Box1" colspan="4">
                    <b>
                        Sonnen Daten
                    </b>
                    <a href="https://re.jrc.ec.europa.eu/pvg_tools/de/#api_5.2" target="_blank">download-site</a>
                </td>
            </tr>
            <tr>
                <td><label for="upload_file_json">Upload Datei</label></td>
                <td><input id="upload_file_json" name="upload_file_json" type="file"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>{% if name %}
                    <text>Datei erfolgreich hochgeladen</text>
                    {% endif %}
                    {% if err_ending %}
                    <text>{{ err_ending }}</text>
                    {% endif %}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    {% if not name %}
                    <button type="submit">Upload</button>
                    {% endif %}
                </td>

                <td></td>
                <td></td>
            </tr>
        </table>
    </form>
    <form action="/analyze_file" method="post" class="BoxContent2">
        <table>
            <tr>
                <td></td>
                <td>
                    {% if name %}
                        <button type="submit">Analyze</button>
                    {% endif %}
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    {% if error %}
                        <br><text>{{ error }}</text>
                    {% endif %}
                </td>

                <td></td>
            </tr>
        </table>
    </form>

    <table class="BoxData">
            {% if data %}
            <tr>
                <td colspan="2">
                    <a>Daten für Zeitraum {{ data["year_min"] }} - {{ data["year_max"] }}</a>
                </td>
            </tr>
            <tr>
                <td>Latitude</td>
                <td>{{ data["lat"] }}</td>
            </tr>
            <tr>
                <td>Longitude</td>
                <td>{{ data["lon"] }}</td>
            </tr>
            <tr>
                <td>Höhe</td>
                <td>{{ data["ele"] }} m</td>
            </tr>
            <tr>
                <td>Strahlungsdatenbank</td>
                <td>{{ data["rad_database"] }}</td>
            </tr>
            <tr>
                <td>Meteodatenbank</td>
                <td>{{ data["meteo_database"] }}</td>
            </tr>
            <tr>
                <td>Maximale Energie</td>
                <td>{{ data["max_energy"] }} kWh</td>
            </tr>
            <tr>
                <td>Zeit der maximalen Energie</td>
                <td>{{ data["time_max_energy"] }}</td>
            </tr>
            <tr>
                <td>Durchschnittsenergie pro Jahr</td>
                <td>{{ data["average_energy"] }} kWh</td>
            </tr>

            {% for power, time in power_time_data %}
            <tr>
                <td>{{ time }}</td>
                <td>{{ power }} kWh</td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
</div>

</body>
</html>
