<!doctype html>
<html lang="de">
<meta charset="utf-8">

<head>
    <title>Photovoltaik-Einstellungen</title>
    <!--Navigator-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='css/navigator.css') }}" rel="stylesheet" type="text/css">
    <!--Favicon-->
    <meta content="#da532c" name="msapplication-TileColor">
    <meta content="#ffffff" name="theme-color">
    <link href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}" rel="apple-touch-icon"
          sizes="180x180">
    <link href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}" rel="icon" sizes="32x32"
          type="image/png">
    <link href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}" rel="icon" sizes="16x16"
          type="image/png">
    <link href="{{ url_for('static', filename='favicon/site.webmanifest') }}" rel="manifest">
    <link color="#5bbad5" href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}" rel="mask-icon">
    <!--Stylesheet-->
    <link href="{{ url_for('static', filename='css/style_set_vals.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<script src="{{ url_for('static', filename='javascript/update_dropdown.js') }}"></script>
<div id="main-container">
    <div class="menu">
        <ul class="menu-content">
            <!-- https://fonts.google.com/icons -->
            <li><a href="/"><span class="material-symbols-outlined">home</span><span>Home</span></a></li>
            <li><a href="/dashboard"><span class="material-symbols-outlined">dashboard</span><span>DashBoard</span></a>
            </li>
            <li><a href="/analytics"><span class="material-symbols-outlined">analytics</span><span>Analytics</span></a>
            </li>
            <li><a href="/file_download"><span
                    class="material-symbols-outlined">file_download</span><span>File Download</span></a></li>
            <li><a href="/file_upload"><span
                    class="material-symbols-outlined">file_upload</span><span>File Upload</span></a></li>
            <li><a href="/settings"><span class="material-symbols-outlined">settings</span><span>Settings</span></a>
            </li>
        </ul>
    </div>

    <table class="BoxHeader">
        <tr>
            <td>
                <img class="HeaderImage" src="{{ url_for('static', filename='favicon/android-chrome-512x512.png') }}">
                <h1 class="Headerh1">Settings</h1>
            </td>
        </tr>
    </table>

    <form action="/save_settings" class="BoxContent" method="post">
        <table>
                {% if error %}
                    <p style="color: red;">{{ error }}</p>
                {% endif %}
            <tr>
                <td class="Box1" colspan="3">
                    <b>Standort</b>
                </td>
            </tr>
            <!-- Standort -->
            <tr>
                <td><label for="latitude">Breitengrad [°]:</label></td>
                <td><input id="latitude" minlength="2" name="latitude" type="text"
                           value="{{ config['coordinates']['latitude'] }}"
                           {% if error %} style="border-color: red; border-width: 3px" {% endif %}></td>
                <td><label for="Straße" >Straße:</label>
                    <input id="Straße" minlength="2" name="Straße" type="text" value=""
                           {% if error %} style="border-color: red; border-width: 3px" {% endif %}>
                    <label for="Nr">Hausnummer:</label>
                    <input id="Nr" minlength="2" name="Nr" type="text" value=""
                           {% if error %} style="border-color: red; border-width: 3px" {% endif %}>
                    <label for="Stadt">Stadt:</label>
                    <input id="Stadt" minlength="2" name="Stadt" type="text" value=""
                           {% if error %} style="border-color: red; border-width: 3px" {% endif %}>
                </td>
            </tr>
            <tr>
                <td><label for="longitude">Längengrad [°]:</label></td>
                <td><input id="longitude" minlength="2" name="longitude"
                           type="text" value="{{ config['coordinates']['longitude'] }}"
                           {% if error %} style="border-color: red; border-width: 3px" {% endif %}></td>
                <td><label for="PLZ">Postleitzahl:</label>
                    <input id="PLZ" minlength="5" maxlength="5" name="PLZ" type="number"
                           {% if error %} style="border-color: red; border-width: 3px" {% endif %}>
                    <label for="Land">Land:</label>
                    <input id="Land" minlength="2" name="Land" type="text" value="Deutschland"
                           {% if error %} style="border-color: red; border-width: 3px" {% endif %}>
                </td>
            </tr>
            <tr>
                <td class="Box1" colspan="3">
                    <b>PV-Anlage</b>
                </td>
            </tr>
            <!-- PV-Anlage -->
            <tr>
                <td><label for="tilt_angle">Neigungswinkel [°]:</label></td>
                <td><input id="tilt_angle" minlength="2" name="tilt_angle" type="text"
                           value="{{ config['pv']['tilt_angle'] }}"></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="area">Modulfläche [qm]:</label></td>
                <td><input id="area" minlength="2" name="area" type="text" value="{{ config['pv']['area'] }}"></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="module_efficiency">Modul-Effizienz [%]:</label></td>
                <td><input id="module_efficiency" minlength="2" name="module_efficiency"
                           type="text" value="{{ config['pv']['module_efficiency'] }}"></td>
                <td></td>
            </tr>

            <tr>
                <td><label for="exposure_angle">Ausrichtungswinkel [°]:</label></td>
                <td><input id="exposure_angle" minlength="1" name="exposure_angle"
                           type="text" value="{{ config['pv']['exposure_angle'] }}"></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="mounting_type">Montagetyp:</label></td>
                <td><input id="mounting_type" minlength="1" name="mounting_type"
                           type="text" value="{{ config['pv']['mounting_type'] }}"></td>
                <td>
                    <div class="tooltip">?
                        <span class="tooltiptext">
                            0: Completely free elevation<br>
                            1: On the roof, large distance<br>
                            2: Integrated on the roof or roof, good rear ventilation<br>
                            3: Integrated on the roof or rooftop, poor rear ventilation<br>
                            4: Integrated on the façade or façades, good rear ventilation<br>
                            5: Integrated on the façade or façades, poor rear ventilation<br>
                            6: Roof integration, without rear ventilation<br>
                            7: Façade integration, without rear ventilation.</span>
                    </div>
                </td>

            </tr>
            <tr>
                <td><label for="temperature_coefficient">Temperatur Koeffizient [%/°C]:</label></td>
                <td><input id="temperature_coefficient" minlength="1"
                           name="temperature_coefficient" type="text"
                           value="{{ config['pv']['temperature_coefficient'] }}"></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="nominal_temperature">Nominal Temperatur [°C]:</label></td>
                <td><input id="nominal_temperature" minlength="1" name="nominal_temperature"
                           type="text" value="{{ config['pv']['nominal_temperature'] }}"></td>
                <td></td>
            </tr>
            <tr>
                <td class="Box1" colspan="3">
                    <b>Wechselrichter</b>
                </td>
            </tr>
            <!-- Wechselrichter -->
            <tr>
                <td><label for="converter_power">Wechselrichter Leistung [W]:</label></td>
                <td><input id="converter_power" minlength="1" name="converter_power"
                           type="text" value="{{ config['converter']['max_power'] }}"></td>
                <td></td>
            </tr>
            <tr>
                <td class="Box1" colspan="3">
                    <b>Strompreis</b>
                </td>
            </tr>
            <!-- Strompreis -->
            <tr>
                <td><label for="consumer_price">Strompreis [ct]:</label></td>
                <td><input id="consumer_price" minlength="1" name="consumer_price"
                           type="text" value="{{ config['market']['consumer_price'] }}"></td>
                <td></td>
            </tr>
            <tr>
                <td class="Box1" colspan="3">
                    <b>Shelly-TRV</b>
                </td>
            </tr>
            <!-- Shelly TRV -->
            <tr>
                <td><label for="ip_address">IP Adresse:</label></td>
                <td><input id="ip_address" minlength="13" name="ip_address"
                           type="text" value="{{ config['shelly']['ip_address'] }}"></td>
                <td></td>
            </tr>
            <tr>
                <td class="Box1" colspan="3">
                    <b>IR-Remote</b>
                </td>
            </tr>
            <!-- IR Remote -->
            <tr>
                <td><label for="ir">IR Button XXX:</label></td>
                <td><input id="ir" minlength="1" name="ir"
                           type="text" value="{{ config['ir_remote']['consumer_price'] }}"></td>
                <td></td>
            </tr>
            <tr>
                <td class="Box1" colspan="3">
                    <b>Heizlast-Berechnung</b>
                </td>
            </tr>
            <!-- Heizlast -->
            <tr>
                <table class="BoxHeat">
                    <tr>
                        <td>
                            <!-- Haus Jahr -->
                            <label for="house_year" class="felder">Hausbaujahr:</label>
                            <input id="house_year" minlength="1" name="house_year" type="number" value="{{ config['house']['house_year'] }}" class="felder">
                        </td>
                        <td class="border_bottom">
                            <!-- Fenster 1 Rahmen -->
                            <label for="window1_frame" class="felder">Fensterrahmen:</label>
                            <select name="window1_frame" id="window1_frame" class="felder" onchange="updateWindow1Dropdown()">
                                <option value="">Rahmen wählen</option>
                                <option {% if config['house']['window1_frame'] == "Holzrahmen" %} selected="selected" {% endif %}
                                value="Holzrahmen">Holzrahmen</option>
                                <option {% if config['house']['window1_frame'] == "Kunststoffrahmen" %} selected="selected" {% endif %}
                                value="Kunststoffrahmen">Kunststoffrahmen</option>
                                <option {% if config['house']['window1_frame'] == "Metallrahmen" %} selected="selected" {% endif %}
                                value="Metallrahmen">Metallrahmen</option>
                            </select>
                            <!-- Fenster 1 Verglasung -->
                            <label for="window1_glazing" class="felder">Verglasung:</label>
                            <select id="window1_glazing" name="window1_glazing" class="felder">
                                <option value="">Verglasung wählen</option>
                                {% if config['house']['window1_frame'] == "Holzrahmen" %}
                                    <option {% if config['house']['window1_glazing'] == "Einfachverglasung" %} selected="selected" {% endif %}
                                    value="Einfachverglasung">Einfachverglasung</option>
                                    <option {% if config['house']['window1_glazing'] == "Doppelverglasung" %} selected="selected" {% endif %}
                                    value="Doppelverglasung">Doppelverglasung</option>
                                    <option {% if config['house']['window1_glazing'] == "Isolierverglasung" %} selected="selected" {% endif %}
                                    value="Isolierverglasung">Isolierverglasung</option>
                                {% endif %}
                                {% if config['house']['window1_frame'] == "Kunststoffrahmen" %}
                                    <option {% if config['house']['window1_glazing'] == "Isolierverglasung" %} selected="selected" {% endif %}
                                    value="Isolierverglasung">Isolierverglasung</option>
                                {% endif %}
                                {% if config['house']['window1_frame'] == "Metallrahmen" %}
                                    <option {% if config['house']['window1_glazing'] == "Isolierverglasung" %} selected="selected" {% endif %}
                                    value="Isolierverglasung">Isolierverglasung</option>
                                {% endif %}
                            </select>
                            <!-- Fenster 1 Baujahr -->
                            <label for="window1_year" class="felder">Fensterbaujahr:</label>
                            <input id="window1_year" minlength="1" name="window1_year" step="0.1" min="0" type="number"
                                   value="{{ config['house']['window1_year'] }}" class="felder">
                            <!-- Fenster 1 Breite -->
                            <label for="window1_width" class="felder">Fensterbreite [m]:</label>
                            <input id="window1_width" minlength="1" name="window1_width" step="0.1" min="0" type="number"
                                   value="{{ config['house']['window1_width'] }}" class="felder">
                            <!-- Fenster 1 Höhe -->
                            <label for="window1_height" class="felder">Fensterhöhe [m]:</label>
                            <input id="window1_height" minlength="1" name="window1_height" step="0.1" min="0" type="number"
                                   value="{{ config['house']['window1_height'] }}" class="felder">
                        </td>
                        <td class="border_bottom">
                            <label for="wall1" class="felder">Wand:</label>
                            <select name="wall1" id="wall1" class="felder" onchange="updateWall1Dropdown()">
                                <option value="">Wand typ wählen</option>
                                <option {% if config['house']['wall1'] == "Außenwand" %} selected="selected" {% endif %}
                                value="Außenwand">Außenwand</option>
                                <option {% if config['house']['wall1'] == "Wand gegen Erdreich" %} selected="selected" {% endif %}
                                value="Wand gegen Erdreich">Wand gegen Erdreich</option>
                                <option {% if config['house']['wall1'] == "Innenwand gegen unbeheizte Kellergeschosse" %} selected="selected" {% endif %}
                                value="Innenwand gegen unbeheizte Kellergeschosse">
                                Innenwand gegen unbeheizte Kellergeschosse</option>
                            </select>
                            <label for="construction_wall1" class="felder">Bauweise:</label>
                            <select id="construction_wall1" name="construction_wall1" class="felder">
                                <option value="">Bauweise wählen</option>
                                {% if config['house']['wall1'] == "Außenwand" %}
                                    <option {% if config['house']['construction_wall1'] == "Massivbauweise" %} selected="selected" {% endif %}
                                    value="Massivbauweise">Massivbauweise</option>
                                    <option {% if config['house']['construction_wall1'] == "Holzkonstruktion" %} selected="selected" {% endif %}
                                    value="Holzkonstruktion">Holzkonstruktion</option>
                                {% endif %}
                                {% if config['house']['wall1'] == "Wand gegen Erdreich" %}
                                    <option {% if config['house']['construction_wall1'] == "Massivbauweise" %} selected="selected" {% endif %}
                                    value="Massivbauweise">Massivbauweise</option>
                                    <option {% if config['house']['construction_wall1'] == "Holzkonstruktion" %} selected="selected" {% endif %}
                                    value="Holzkonstruktion">Holzkonstruktion</option>
                                {% endif %}
                                {% if config['house']['wall1'] == "Innenwand gegen unbeheizte Kellergeschosse" %}
                                    <option {% if config['house']['construction_wall1'] == "Massivbauweise" %} selected="selected" {% endif %}
                                    value="Massivbauweise">Massivbauweise</option>
                                    <option {% if config['house']['construction_wall1'] == "Holzkonstruktion" %} selected="selected" {% endif %}
                                    value="Holzkonstruktion">Holzkonstruktion</option>
                                {% endif %}
                            </select>
                            <label for="wall1_width" class="felder">Wandbreite [m]:</label>
                            <input id="wall1_width" minlength="1" name="wall1_width" step="0.1" min="0" type="number"
                                   value="{{ config['house']['wall1_width'] }}" class="felder">
                            <label for="wall1_height" class="felder">Wandhöhe [m]:</label>
                            <input id="wall1_height" minlength="1" name="wall1_height" step="0.1" min="0" type="number"
                                   value="{{ config['house']['wall1_height'] }}" class="felder">
                        </td>
                        <td class="border_bottom">
                            <label for="door_wall1" class="felder">Tür:</label>
                            <select name="door_wall1" id="door_wall1" class="felder">
                                <option {% if config['house']['door_wall1'] %} selected="selected" {% endif %} value="1">Ja</option>
                                <option {% if not config['house']['door_wall1'] %} selected="selected" {% endif %} value="0">Nein</option>
                            </select>
                            <label for="door_wall1_width" class="felder">Türbreite [m]:</label>
                            <input id="door_wall1_width" minlength="1" name="door_wall1_width" step="0.1" min="0"
                                   type="number" value="{{ config['house']['door_wall1_width'] }}" class="felder">
                            <label for="door_wall1_height" class="felder">Türhöhe [m]:</label>
                            <input id="door_wall1_height" minlength="1" name="door_wall1_height" step="0.1" min="0"
                                   type="number" value="{{ config['house']['door_wall1_height'] }}" class="felder">
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label for="window4_frame" class="felder">Fensterrahmen:</label>
                            <select name="window4_frame" id="window4_frame" class="felder" onchange="updateWindow4Dropdown()">
                                <option value="">Rahmen wählen</option>
                                <option {% if config['house']['window4_frame'] == "Holzrahmen" %} selected="selected" {% endif %}
                                value="Holzrahmen">Holzrahmen</option>
                                <option {% if config['house']['window4_frame'] == "Kunststoffrahmen" %} selected="selected" {% endif %}
                                value="Kunststoffrahmen">Kunststoffrahmen</option>
                                <option {% if config['house']['window4_frame'] == "Metallrahmen" %} selected="selected" {% endif %}
                                value="Metallrahmen">Metallrahmen</option>
                            </select>
                            <label for="window4_glazing" class="felder">Verglasung:</label>
                            <select id="window4_glazing" name="window4_glazing" class="felder">
                                <option value="">Verglasung wählen</option>
                                {% if config['house']['window4_frame'] == "Holzrahmen" %}
                                    <option {% if config['house']['window4_glazing'] == "Einfachverglasung" %} selected="selected" {% endif %}
                                    value="Einfachverglasung">Einfachverglasung</option>
                                    <option {% if config['house']['window4_glazing'] == "Doppelverglasung" %} selected="selected" {% endif %}
                                    value="Doppelverglasung">Doppelverglasung</option>
                                    <option {% if config['house']['window4_glazing'] == "Isolierverglasung" %} selected="selected" {% endif %}
                                    value="Isolierverglasung">Isolierverglasung</option>
                                {% endif %}
                                {% if config['house']['window4_frame'] == "Kunststoffrahmen" %}
                                    <option {% if config['house']['window4_glazing'] == "Isolierverglasung" %} selected="selected" {% endif %}
                                    value="Isolierverglasung">Isolierverglasung</option>
                                {% endif %}
                                {% if config['house']['window4_frame'] == "Metallrahmen" %}
                                    <option {% if config['house']['window4_glazing'] == "Isolierverglasung" %} selected="selected" {% endif %}
                                    value="Isolierverglasung">Isolierverglasung</option>
                                {% endif %}
                            </select>
                            <label for="window4_year" class="felder">Fensterbaujahr:</label>
                            <input id="window4_year" minlength="1" name="window4_year" step="0.1" min="0" type="number"
                                   value="{{ config['house']['window4_year'] }}" class="felder">
                            <label for="window4_width" class="felder">Fensterbreite [m]:</label>
                            <input id="window4_width" minlength="1" name="window4_width" step="0.1" min="0" type="number"
                                   value="{{ config['house']['window4_width'] }}" class="felder">
                            <label for="window4_height" class="felder">Fensterhöhe [m]:</label>
                            <input id="window4_height" minlength="1" name="window4_height" step="0.1" min="0" type="number"
                                   value="{{ config['house']['window4_height'] }}" class="felder">
                        </td>
                        <td class="border_left"></td>
                        <td>
                            <label for="ceiling" class="felder">Decke:</label>
                            <select name="ceiling" id="ceiling" class="felder" onchange="updateCeilingDropdown()">
                                <option value="">Wand typ wählen</option>
                                <option {% if config['house']['ceiling'] == "Außenwand" %} selected="selected" {% endif %}
                                value="Außenwand">Außenwand</option>
                                <option {% if config['house']['ceiling'] == "Wand gegen Erdreich" %} selected="selected" {% endif %}
                                value="Wand gegen Erdreich">Wand gegen Erdreich</option>
                                <option {% if config['house']['ceiling'] == "Innenwand gegen unbeheizte Kellergeschosse" %} selected="selected" {% endif %}
                                value="Innenwand gegen unbeheizte Kellergeschosse">
                                Innenwand gegen unbeheizte Kellergeschosse</option>
                            </select>
                            <label for="construction_ceiling" class="felder">Bauweise:</label>
                            <select id="construction_ceiling" name="construction_ceiling" class="felder">
                                <option value="">Bauweise wählen</option>
                                {% if config['house']['ceiling'] == "Außenwand" %}
                                    <option {% if config['house']['construction_ceiling'] == "Massivbauweise" %} selected="selected" {% endif %}
                                    value="Massivbauweise">Massivbauweise</option>
                                    <option {% if config['house']['construction_ceiling'] == "Holzkonstruktion" %} selected="selected" {% endif %}
                                    value="Holzkonstruktion">Holzkonstruktion</option>
                                {% endif %}
                                {% if config['house']['ceiling'] == "Wand gegen Erdreich" %}
                                    <option {% if config['house']['construction_ceiling'] == "Massivbauweise" %} selected="selected" {% endif %}
                                    value="Massivbauweise">Massivbauweise</option>
                                    <option {% if config['house']['construction_ceiling'] == "Holzkonstruktion" %} selected="selected" {% endif %}
                                    value="Holzkonstruktion">Holzkonstruktion</option>
                                {% endif %}
                                {% if config['house']['ceiling'] == "Innenwand gegen unbeheizte Kellergeschosse" %}
                                    <option {% if config['house']['construction_ceiling'] == "Massivbauweise" %} selected="selected" {% endif %}
                                    value="Massivbauweise">Massivbauweise</option>
                                    <option {% if config['house']['construction_ceiling'] == "Holzkonstruktion" %} selected="selected" {% endif %}
                                    value="Holzkonstruktion">Holzkonstruktion</option>
                                {% endif %}
                            </select>
                        </td>
                        <td class="border_right">
                        </td>

                        <td>
                            <label for="window2_frame" class="felder">Fensterrahmen:</label>
                            <select name="window2_frame" id="window2_frame" class="felder" onchange="updateWindow2Dropdown()">
                                <option value="">Rahmen wählen</option>
                                <option {% if config['house']['window2_frame'] == "Holzrahmen" %} selected="selected" {% endif %}
                                value="Holzrahmen">Holzrahmen</option>
                                <option {% if config['house']['window2_frame'] == "Kunststoffrahmen" %} selected="selected" {% endif %}
                                value="Kunststoffrahmen">Kunststoffrahmen</option>
                                <option {% if config['house']['window2_frame'] == "Metallrahmen" %} selected="selected" {% endif %}
                                value="Metallrahmen">Metallrahmen</option>
                            </select>
                            <label for="window2_glazing" class="felder">Verglasung:</label>
                            <select id="window2_glazing" name="window2_glazing" class="felder">
                                <option value="">Verglasung wählen</option>
                                {% if config['house']['window2_frame'] == "Holzrahmen" %}
                                    <option {% if config['house']['window2_glazing'] == "Einfachverglasung" %} selected="selected" {% endif %}
                                    value="Einfachverglasung">Einfachverglasung</option>
                                    <option {% if config['house']['window2_glazing'] == "Doppelverglasung" %} selected="selected" {% endif %}
                                    value="Doppelverglasung">Doppelverglasung</option>
                                    <option {% if config['house']['window2_glazing'] == "Isolierverglasung" %} selected="selected" {% endif %}
                                    value="Isolierverglasung">Isolierverglasung</option>
                                {% endif %}
                                {% if config['house']['window2_frame'] == "Kunststoffrahmen" %}
                                    <option {% if config['house']['window2_glazing'] == "Isolierverglasung" %} selected="selected" {% endif %}
                                    value="Isolierverglasung">Isolierverglasung</option>
                                {% endif %}
                                {% if config['house']['window2_frame'] == "Metallrahmen" %}
                                    <option {% if config['house']['window2_glazing'] == "Isolierverglasung" %} selected="selected" {% endif %}
                                    value="Isolierverglasung">Isolierverglasung</option>
                                {% endif %}
                            </select>
                            <label for="window2_year" class="felder">Fensterbaujahr:</label>
                            <input id="window2_year" minlength="1" name="window2_year" step="0.1" min="0" type="number"
                                   value="{{ config['house']['window2_year'] }}" class="felder">
                            <label for="window2_width" class="felder">Fensterbreite [m]:</label>
                            <input id="window2_width" minlength="1" name="window2_width" step="0.1" min="0" type="number"
                                   value="{{ config['house']['window2_width'] }}" class="felder">
                            <label for="window2_height" class="felder">Fensterhöhe [m]:</label>
                            <input id="window2_height" minlength="1" name="window2_height" step="0.1" min="0" type="number"
                                   value="{{ config['house']['window2_height'] }}" class="felder">
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label for="wall4" class="felder">Wand:</label>
                            <select name="wall4" id="wall4" class="felder" onchange="updateWall4Dropdown()">
                                        <option value="">Wand typ wählen</option>
                                        <option {% if config['house']['wall4'] == "Außenwand" %} selected="selected" {% endif %}
                                        value="Außenwand">Außenwand</option>
                                        <option {% if config['house']['wall4'] == "Wand gegen Erdreich" %} selected="selected" {% endif %}
                                        value="Wand gegen Erdreich">Wand gegen Erdreich</option>
                                        <option {% if config['house']['wall4'] == "Innenwand gegen unbeheizte Kellergeschosse" %} selected="selected" {% endif %}
                                        value="Innenwand gegen unbeheizte Kellergeschosse">
                                            Innenwand gegen unbeheizte Kellergeschosse</option>
                            </select>
                            <label for="construction_wall4" class="felder">Bauweise:</label>
                            <select id="construction_wall4" name="construction_wall4" class="felder">
                                <option value="">Bauweise wählen</option>
                                {% if config['house']['wall4'] == "Außenwand" %}
                                    <option {% if config['house']['construction_wall4'] == "Massivbauweise" %} selected="selected" {% endif %}
                                    value="Massivbauweise">Massivbauweise</option>
                                    <option {% if config['house']['construction_wall4'] == "Holzkonstruktion" %} selected="selected" {% endif %}
                                    value="Holzkonstruktion">Holzkonstruktion</option>
                                {% endif %}
                                {% if config['house']['wall4'] == "Wand gegen Erdreich" %}
                                    <option {% if config['house']['construction_wall4'] == "Massivbauweise" %} selected="selected" {% endif %}
                                    value="Massivbauweise">Massivbauweise</option>
                                    <option {% if config['house']['construction_wall4'] == "Holzkonstruktion" %} selected="selected" {% endif %}
                                    value="Holzkonstruktion">Holzkonstruktion</option>
                                {% endif %}
                                {% if config['house']['wall4'] == "Innenwand gegen unbeheizte Kellergeschosse" %}
                                    <option {% if config['house']['construction_wall4'] == "Massivbauweise" %} selected="selected" {% endif %}
                                    value="Massivbauweise">Massivbauweise</option>
                                    <option {% if config['house']['construction_wall4'] == "Holzkonstruktion" %} selected="selected" {% endif %}
                                    value="Holzkonstruktion">Holzkonstruktion</option>
                                {% endif %}
                            </select>
                            <label for="wall4_width" class="felder">Wandbreite [m]:</label>
                            <input id="wall4_width" minlength="1" name="wall4_width" step="0.1" min="0" type="number"
                                   value="{{ config['house']['wall4_width'] }}" class="felder">
                            <label for="wall4_height" class="felder">Wandhöhe [m]:</label>
                            <input id="wall4_height" minlength="1" name="wall4_height" step="0.1" min="0" type="number"
                                   value="{{ config['house']['wall4_height'] }}" class="felder">
                        </td>
                        <td class="border_left">
                        </td>
                        <td></td>
                        <td class="border_right">
                        </td>
                        <td>
                            <label for="wall2" class="felder">Wand:</label>
                            <select name="wall2" id="wall2" class="felder" onchange="updateWall2Dropdown()">
                                <option value="">Wand typ wählen</option>
                                <option {% if config['house']['wall2'] == "Außenwand" %} selected="selected" {% endif %}
                                value="Außenwand">Außenwand</option>
                                <option {% if config['house']['wall2'] == "Wand gegen Erdreich" %} selected="selected" {% endif %}
                                value="Wand gegen Erdreich">Wand gegen Erdreich</option>
                                <option {% if config['house']['wall2'] == "Innenwand gegen unbeheizte Kellergeschosse" %} selected="selected" {% endif %}
                                value="Innenwand gegen unbeheizte Kellergeschosse">
                                    Innenwand gegen unbeheizte Kellergeschosse</option>
                            </select>
                            <label for="construction_wall2" class="felder">Bauweise:</label>
                            <select id="construction_wall2" name="construction_wall2" class="felder">
                                <option value="">Bauweise wählen</option>
                                {% if config['house']['wall2'] == "Außenwand" %}
                                    <option {% if config['house']['construction_wall2'] == "Massivbauweise" %} selected="selected" {% endif %}
                                    value="Massivbauweise">Massivbauweise</option>
                                    <option {% if config['house']['construction_wall2'] == "Holzkonstruktion" %} selected="selected" {% endif %}
                                    value="Holzkonstruktion">Holzkonstruktion</option>
                                {% endif %}
                                {% if config['house']['wall2'] == "Wand gegen Erdreich" %}
                                    <option {% if config['house']['construction_wall2'] == "Massivbauweise" %} selected="selected" {% endif %}
                                    value="Massivbauweise">Massivbauweise</option>
                                    <option {% if config['house']['construction_wall2'] == "Holzkonstruktion" %} selected="selected" {% endif %}
                                    value="Holzkonstruktion">Holzkonstruktion</option>
                                {% endif %}
                                {% if config['house']['wall2'] == "Innenwand gegen unbeheizte Kellergeschosse" %}
                                    <option {% if config['house']['construction_wall2'] == "Massivbauweise" %} selected="selected" {% endif %}
                                    value="Massivbauweise">Massivbauweise</option>
                                    <option {% if config['house']['construction_wall2'] == "Holzkonstruktion" %} selected="selected" {% endif %}
                                    value="Holzkonstruktion">Holzkonstruktion</option>
                                {% endif %}
                            </select>
                            <label for="wall2_width" class="felder">Wandbreite [m]:</label>
                            <input id="wall2_width" minlength="1" name="wall2_width"
                                   value="{{ config['house']['wall2_width'] }}" type="number" class="felder">
                            <label for="wall2_height" class="felder">Wandhöhe [m]:</label>
                            <input id="wall2_height" minlength="1" name="wall2_height"
                                   value="{{ config['house']['wall2_height'] }}" type="number" class="felder">
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label for="door_wall4" class="felder">Tür:</label>
                            <select name="door_wall4" id="door_wall4" class="felder">
                                <option {% if config['house']['door_wall4'] %} selected="selected" {% endif %} value="1">Ja</option>
                                <option {% if not config['house']['door_wall4'] %} selected="selected" {% endif %} value="0">Nein</option>
                            </select>
                            <label for="door_wall4_width" class="felder">Türbreite [m]:</label>
                            <input id="door_wall4_width" minlength="1" name="door_wall4_width" step="0.1" min="0"
                                   type="number" value="{{ config['house']['door_wall4_width'] }}" class="felder">
                            <label for="door_wall4_height" class="felder">Türhöhe [m]:</label>
                            <input id="door_wall4_height" minlength="1" name="door_wall4_height" step="0.1" min="0"
                                   type="number" value="{{ config['house']['door_wall4_height'] }}" class="felder">
                        </td>
                        <td class="border_left"></td>
                        <td>
                            <label for="floor" class="felder">Fußboden:</label>
                            <select name="floor" id="floor" class="felder" onchange="updateFloorDropdown()">
                                <option value="">Wand typ wählen</option>
                                <option {% if config['house']['floor'] == "Außenwand" %} selected="selected" {% endif %}
                                value="Außenwand">Außenwand</option>
                                <option {% if config['house']['floor'] == "Wand gegen Erdreich" %} selected="selected" {% endif %}
                                value="Wand gegen Erdreich">Wand gegen Erdreich</option>
                                <option {% if config['house']['floor'] == "Innenwand gegen unbeheizte Kellergeschosse" %} selected="selected" {% endif %}
                                value="Innenwand gegen unbeheizte Kellergeschosse">
                                    Innenwand gegen unbeheizte Kellergeschosse</option>
                            </select>
                            <label for="construction_floor" class="felder">Bauweise:</label>
                            <select id="construction_floor" name="construction_floor" class="felder">
                                <option value="">Bauweise wählen</option>
                                {% if config['house']['floor'] == "Außenwand" %}
                                    <option {% if config['house']['construction_floor'] == "Massivbauweise" %} selected="selected" {% endif %}
                                    value="Massivbauweise">Massivbauweise</option>
                                    <option {% if config['house']['construction_floor'] == "Holzkonstruktion" %} selected="selected" {% endif %}
                                    value="Holzkonstruktion">Holzkonstruktion</option>
                                {% endif %}
                                {% if config['house']['floor'] == "Wand gegen Erdreich" %}
                                    <option {% if config['house']['construction_floor'] == "Massivbauweise" %} selected="selected" {% endif %}
                                    value="Massivbauweise">Massivbauweise</option>
                                    <option {% if config['house']['construction_floor'] == "Holzkonstruktion" %} selected="selected" {% endif %}
                                    value="Holzkonstruktion">Holzkonstruktion</option>
                                {% endif %}
                                {% if config['house']['floor'] == "Innenwand gegen unbeheizte Kellergeschosse" %}
                                    <option {% if config['house']['construction_floor'] == "Massivbauweise" %} selected="selected" {% endif %}
                                    value="Massivbauweise">Massivbauweise</option>
                                    <option {% if config['house']['construction_floor'] == "Holzkonstruktion" %} selected="selected" {% endif %}
                                    value="Holzkonstruktion">Holzkonstruktion</option>
                                {% endif %}
                            </select>
                        </td>
                        <td class="border_right">
                        </td>
                        <td>
                            <label for="door_wall2" class="felder">Tür:</label>
                            <select name="door_wall2" id="door_wall2" class="felder">
                                <option {% if config['house']['door_wall2'] %} selected="selected" {% endif %} value="1">Ja</option>
                                <option {% if not config['house']['door_wall2'] %} selected="selected" {% endif %} value="0">Nein</option>
                            </select>
                            <label for="door_wall2_width" class="felder">Türbreite [m]:</label>
                            <input id="door_wall2_width" minlength="1" name="door_wall2_width" step="0.1" min="0"
                                   type="number" value="{{ config['house']['door_wall2_width'] }}" class="felder">
                            <label for="door_wall2_height" class="felder">Türhöhe [m]:</label>
                            <input id="door_wall2_height" minlength="1" name="door_wall2_height" step="0.1" min="0"
                                   type="number" value="{{ config['house']['door_wall2_height'] }}" class="felder">
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="border_top">
                            <label for="window3_frame" class="felder">Fensterrahmen:</label>
                            <select name="window3_frame" id="window3_frame" class="felder" onchange="updateWindow3Dropdown()">
                                <option value="">Rahmen wählen</option>
                                <option {% if config['house']['window3_frame'] == "Holzrahmen" %} selected="selected" {% endif %}
                                value="Holzrahmen">Holzrahmen</option>
                                <option {% if config['house']['window3_frame'] == "Kunststoffrahmen" %} selected="selected" {% endif %}
                                value="Kunststoffrahmen">Kunststoffrahmen</option>
                                <option {% if config['house']['window3_frame'] == "Metallrahmen" %} selected="selected" {% endif %}
                                value="Metallrahmen">Metallrahmen</option>
                            </select>
                            <label for="window3_glazing" class="felder">Verglasung:</label>
                            <select id="window3_glazing" name="window3_glazing" class="felder">
                                <option value="">Verglasung wählen</option>
                                {% if config['house']['window3_frame'] == "Holzrahmen" %}
                                    <option {% if config['house']['window3_glazing'] == "Einfachverglasung" %} selected="selected" {% endif %}
                                    value="Einfachverglasung">Einfachverglasung</option>
                                    <option {% if config['house']['window3_glazing'] == "Doppelverglasung" %} selected="selected" {% endif %}
                                    value="Doppelverglasung">Doppelverglasung</option>
                                    <option {% if config['house']['window3_glazing'] == "Isolierverglasung" %} selected="selected" {% endif %}
                                    value="Isolierverglasung">Isolierverglasung</option>
                                {% endif %}
                                {% if config['house']['window3_frame'] == "Kunststoffrahmen" %}
                                    <option {% if config['house']['window3_glazing'] == "Isolierverglasung" %} selected="selected" {% endif %}
                                    value="Isolierverglasung">Isolierverglasung</option>
                                {% endif %}
                                {% if config['house']['window3_frame'] == "Metallrahmen" %}
                                    <option {% if config['house']['window3_glazing'] == "Isolierverglasung" %} selected="selected" {% endif %}
                                    value="Isolierverglasung">Isolierverglasung</option>
                                {% endif %}
                            </select>
                            <label for="window3_year" class="felder">Fensterbaujahr:</label>
                            <input id="window3_year" minlength="1" name="window3_year" step="0.1" min="0" type="number"
                                   value="{{ config['house']['window3_year'] }}" class="felder">
                            <label for="window3_width" class="felder">Fensterbreite [m]:</label>
                            <input id="window3_width" minlength="1" name="window3_width" step="0.1" min="0" type="number"
                                   value="{{ config['house']['window3_width'] }}" class="felder">
                            <label for="window3_height" class="felder">Fensterhöhe [m]:</label>
                            <input id="window3_height" minlength="1" name="window3_height" step="0.1" min="0" type="number"
                                   value="{{ config['house']['window3_height'] }}" class="felder">
                        </td>
                        <td class="border_top">
                            <label for="wall3" class="felder">Wand:</label>
                            <select name="wall3" id="wall3" class="felder" onchange="updateWall3Dropdown()">
                                <option value="">Wand typ wählen</option>
                                <option {% if config['house']['wall3'] == "Außenwand" %} selected="selected" {% endif %}
                                value="Außenwand">Außenwand</option>
                                <option {% if config['house']['wall3'] == "Wand gegen Erdreich" %} selected="selected" {% endif %}
                                value="Wand gegen Erdreich">Wand gegen Erdreich</option>
                                <option {% if config['house']['wall3'] == "Innenwand gegen unbeheizte Kellergeschosse" %} selected="selected" {% endif %}
                                value="Innenwand gegen unbeheizte Kellergeschosse">
                                    Innenwand gegen unbeheizte Kellergeschosse</option>
                            </select>
                            <label for="construction_wall3" class="felder">Bauweise:</label>
                            <select id="construction_wall3" name="construction_wall3" class="felder">
                                <option value="">Bauweise wählen</option>
                                {% if config['house']['wall3'] == "Außenwand" %}
                                    <option {% if config['house']['construction_wall3'] == "Massivbauweise" %} selected="selected" {% endif %}
                                    value="Massivbauweise">Massivbauweise</option>
                                    <option {% if config['house']['construction_wall3'] == "Holzkonstruktion" %} selected="selected" {% endif %}
                                    value="Holzkonstruktion">Holzkonstruktion</option>
                                {% endif %}
                                {% if config['house']['wall3'] == "Wand gegen Erdreich" %}
                                    <option {% if config['house']['construction_wall3'] == "Massivbauweise" %} selected="selected" {% endif %}
                                    value="Massivbauweise">Massivbauweise</option>
                                    <option {% if config['house']['construction_wall3'] == "Holzkonstruktion" %} selected="selected" {% endif %}
                                    value="Holzkonstruktion">Holzkonstruktion</option>
                                {% endif %}
                                {% if config['house']['wall3'] == "Innenwand gegen unbeheizte Kellergeschosse" %}
                                    <option {% if config['house']['construction_wall3'] == "Massivbauweise" %} selected="selected" {% endif %}
                                    value="Massivbauweise">Massivbauweise</option>
                                    <option {% if config['house']['construction_wall3'] == "Holzkonstruktion" %} selected="selected" {% endif %}
                                    value="Holzkonstruktion">Holzkonstruktion</option>
                                {% endif %}
                            </select>
                            <label for="wall3_width" class="felder">Wandbreite [m]:</label>
                            <input id="wall3_width" minlength="1" name="wall3_width" step="0.1" min="0" type="number"
                                   value="{{ config['house']['wall3_width'] }}" class="felder">
                            <label for="wall3_height" class="felder">Wandhöhe [m]:</label>
                            <input id="wall3_height" minlength="1" name="wall3_height" step="0.1" min="0" type="number"
                                   value="{{ config['house']['wall1_height'] }}" class="felder">
                        </td>
                        <td class="border_top">
                            <label for="door_wall3" class="felder">Tür:</label>
                            <select name="door_wall3" id="door_wall3" class="felder">
                                <option {% if config['house']['door_wall3'] %} selected="selected" {% endif %} value="1">Ja</option>
                                <option {% if not config['house']['door_wall3'] %} selected="selected" {% endif %} value="0">Nein</option>
                            </select>
                            <label for="door_wall3_width" class="felder">Türbreite [m]:</label>
                            <input id="door_wall3_width" minlength="1" name="door_wall3_width" step="0.1" min="0"
                                   type="number" value="{{ config['house']['door_wall3_width'] }}" class="felder">
                            <label for="door_wall3_height" class="felder">Türhöhe [m]:</label>
                            <input id="door_wall3_height" minlength="1" name="door_wall3_height" step="0.1" min="0"
                                   type="number" value="{{ config['house']['door_wall3_height'] }}" class="felder">
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Speichern</button>
                </td>
                <td></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>