<!doctype html>
<html lang="de">
<meta charset="utf-8">
<meta content="#da532c" name="msapplication-TileColor">
<meta content="#ffffff" name="theme-color">
<link href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}" rel="apple-touch-icon" sizes="180x180">
<link href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}" rel="icon" sizes="32x32" type="image/png">
<link href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}" rel="icon" sizes="16x16" type="image/png">
<link href="{{ url_for('static', filename='favicon/site.webmanifest') }}" rel="manifest">
<link color="#5bbad5" href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}" rel="mask-icon">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>UBROE</title>

</head>
<body>
<h1>UBROE</h1>
<p>
    UBROE offers high-quality textile printing and cutting services for clothing and fashion brands.
    We are proud to serve a wide range of customers from various industries.
    Our mission is to provide outstanding service, high-quality products, and excellent customer satisfaction.
</p>

<h2>Key Facts</h2>
<ul>
    <li>Founded in 1977</li>
    <li>Located in Delaware, USA</li>
    <li>Over 57.98 hectares of state-of-the-art production facilities</li>
    <li>187,680 square meters of printing capacity</li>
    <li>30,000 tons of annual printing capacity</li>
    <li>A team of over 500 experienced professionals</li>
    <li>Wide range of product offerings including Apparel, Footwear, and Sportswear</li>
</ul>
</body>
</html>